doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/style.css")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet")
    <link rel="icon" type="image/png" href="/image/logo.png" style='whidth: 32px; heigth:32px'>
    title Resultados de la búsqueda
  body
  .cont-resultados
    .encabezado
        .logo_chico 
            img(src="/image/logo.png" alt="logo met")
        .titulo
            h1 Resultados
    
    .flecha 
      button.bajar(type="button") 
        img(src="/image/flecha-hacia-abajo.png" alt="flecha")
      button.subir(type="button") 
        img(src="/image/flecha-hacia-arriba.png" alt="flecha") 

    .paginacion
      p.objetos 
      if page > 1
        a(href=`/search?departmentId=${departmentId}&keyword=${keyword}&location=${location}&page=${page - 1}`) <<< 
      p= `Página ${page} de ${totalPages}`
      if page < totalPages
        a(href=`/search?departmentId=${departmentId}&keyword=${keyword}&location=${location}&page=${page + 1}`)  >>>        
    
    

    .grid
      each object in objects
        .card
          img(src=object.primaryImage && object.primaryImage != " " ? object.primaryImage : '/image/sinImagen.jpg'       alt=object.title || '/image/sinImagen.jpg')
          .date Fecha: #{object.objectDate || 'Desconocida'}
          h3= object.title || 'Sin título'
          p Cultura: #{object.culture || 'Desconocida'}
          p Dinastía: #{object.dynasty || 'Desconocida'}
          if object.primaryImage
            button.ver-imagenes(type="button" data-id=object.objectId || object.objectID) Ver imágenes adicionales
          else 
            p.sinImagen Obra sin imágenes  
        .imagen_adicional(data-id=object.objectId || object.objectID)
          button.cerrar(type='botton') 
           i.fa.fa-times.aria
          .carrusel-container
            if object.additionalImages && object.additionalImages.length > 0       
              button.atras(type='button') 
                img(src='/image/flecha-izquierda.png' alt='flecha izquierda')
              .carrusel-image  
                 each image in object.additionalImages 
                  img.image(src=image && image != '' ? image : '/image/sinImagen.jpg' alt=object.title ||'Imagen sin título', class='img-fluid')
              button.adelante 
                img(src='/image/flecha-derecha.png' alt='flecha derecha') 
           
           

    .paginacion
      p.objetos 
      if page > 1
        a(href=`/search?departmentId=${departmentId}&keyword=${keyword}&location=${location}&page=${page - 1}`) <<< 
      p= `Página ${page} de ${totalPages}`
      if page < totalPages
        a(href=`/search?departmentId=${departmentId}&keyword=${keyword}&location=${location}&page=${page + 1}`)  >>>

    .volver
        a(href="/") Nueva búsqueda


    p.copyright Copyright© 2024 - Página creada por pablodalcaraz - Todos los derechos reservados.  
      a(href="https://github.com/pablodalcaraz/museo-.git" target="_blank" class="github-icon")
        i.fab.fa-github  
      a(href='https://portfoliopabloalcaraz.netlify.app/' target='_blank' class='web-icon')
          img(src="/image/web-icon.png", alt="web-icon")

          script(src="/functions.js")
